@page "/leave"
@namespace ZarzadzanieUrlopami.Pages
@layout MainLayout


@using System.ComponentModel.DataAnnotations
@using System.Security.Claims

@inject ZarzadzanieUrlopami.Service.PodaniaService PodaniaService
@inject AuthenticationStateProvider AuthProvider


<div class="moje-dane-container">
    <div class="moje-dane-wrapper">
        <EditForm class="moje-dane-form" Model="@leaveRequest" OnSubmit="SubmitRequest">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="card shadow p-4">
                <!-- Nagłówek w ramce formularza -->
                <h3 class="mb-4 text-center">Wniosek urlopowy</h3> <!-- Nagłówek w ramce -->

                <dl class="row">
                    <dd class="col-sm-9">
                        <strong>Data rozpoczęcia:</strong>
                        <InputDate class="form-control" @bind-Value="leaveRequest.StartDate" />
                    </dd>
                    <dd class="col-sm-9">
                        <strong>Data zakończenia:</strong>
                        <InputDate class="form-control" @bind-Value="leaveRequest.EndDate" />
                    </dd>
                    <dd class="col-sm-9">
                        <strong>Powód:</strong>
                        <InputTextArea class="form-control" 
                        @bind-Value="leaveRequest.Reason" />
                    </dd>
                    <dd class="col-sm-9">
                        <strong>Typ urlopu:</strong>
                        <select class="form-control"
                                @onchange="@(e => ustawDni(int.Parse(e.Value.ToString())))">
                            @if (pracownik != null)
                            {
                                @foreach (var typ in pracownik.DostepneUrlopyRocznes)
                                {
                                    <option value="@typ.IdTypuUrlopu"
                                            selected="@(typ.IdTypuUrlopu == leaveRequest.LeaveTypeId)">
                                        @typ.IdTypuUrlopuNavigation.Nazwa
                                    </option>
                                }
                            }
                        </select>
                    </dd>
                    <dd>
                        <strong>Dostepne dni urlopowe: @dni</strong>
                    </dd>
                </dl>

                <hr />

                <button class="btn btn-primary mt-3">Wyślij wniosek</button>

                @if (!string.IsNullOrEmpty(message))
                {
                    <div class="alert alert-success mt-3">@message</div>
                }

                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger mt-3">@errorMessage</div>
                }
            </div>
        </EditForm>
    </div>
</div>

@code {

    private LeaveRequest leaveRequest;


    private string message = string.Empty;
    private string errorMessage = string.Empty;

    private int? dni = null;

    private ClaimsPrincipal user;

    public ZarzadzanieUrlopami.Models.Pracownicy? pracownik { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        leaveRequest = new LeaveRequest(pracownik)
            {
                StartDate = DateTime.Today,
                EndDate = DateTime.Today,
                Reason = string.Empty,
                LeaveType = "Temp"
            };

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        user = authState.User;



        if (user.Identity == null || 
            user.Identity.IsAuthenticated == false ||
            user.Identity.Name == null)
            return;

        pracownik = await PodaniaService.GetDostepneUrlopy(user.Identity.Name);
    }


    private void ustawDni(int value)
    {

        dni = pracownik.DostepneUrlopyRocznes.Where(x => x.IdTypuUrlopu == value).FirstOrDefault().Ilosc ?? 0;

        leaveRequest.LeaveType = pracownik.DostepneUrlopyRocznes.Where(x => x.IdTypuUrlopu == value).FirstOrDefault().IdTypuUrlopuNavigation.Nazwa ?? "";
    }

    private async Task SubmitRequest()
    {
        errorMessage = message = string.Empty;


        if (leaveRequest.EndDate < leaveRequest.StartDate)
        {
            errorMessage = "Data zakończenia nie może być wcześniejsza niż data rozpoczęcia.";
            return;
        }




        leaveRequest.rozpatrzWniosek();

        // Symulacja przetwarzania wniosku
        await Task.Delay(500); // Udawany czas oczekiwania na zapisanie

        message = "Wniosek został złożony pomyślnie!";
        //leaveRequest = new LeaveRequest(); // Reset formularza
    }

    public enum StanWniosku
    {
        pozytywny,
        jużJestUrlop,
        jużJestZwolnienie,
        brakWolnychDni
    }


    public class LeaveRequest
    {
        [Required(ErrorMessage = "Data rozpoczęcia jest wymagana.")]
        public DateTime StartDate { get; set; }

        [Required(ErrorMessage = "Data zakończenia jest wymagana.")]
        public DateTime EndDate { get; set; }

        [Required(ErrorMessage = "Musisz podać powód.")]
        public string Reason { get; set; }


        [Required(ErrorMessage = "Musisz wybrać typ urlopu.")]
        public int LeaveTypeId { get; set; }

        [Required(ErrorMessage = "Musisz wybrać typ urlopu.")]
        public string LeaveType { get; set; }


        public ZarzadzanieUrlopami.Models.Pracownicy? pracownik { get; set; } = null;


        public LeaveRequest(ZarzadzanieUrlopami.Models.Pracownicy? dni)
        {
            pracownik = dni;
        }

        public StanWniosku rozpatrzWniosek()
        {

            


            return StanWniosku.pozytywny;
        }

    }


}