@page "/schedule-shifts"

@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Components.Forms
@using Models
@using System.Security.Claims
@using ZarzadzanieUrlopami.Pages.Components
@using ZarzadzanieUrlopami.Models.Kalndarz
@using ZarzadzanieUrlopami.Service

@inject IServiceProvider ServiceProvider
@inject ZmianyService ZmianyService;
@inject AuthenticationStateProvider AuthProvider


<PageTitle>Grafik Pracy</PageTitle>
<div id="schedule" class="section">
    <h2>Układanie grafiku</h2>
    @if (user.Identity.IsAuthenticated == true)
    {
        <div class="calendar-container">
            <div class="month">
                <ul>
                    <li class="prev" @onclick="ShowPreviousMonth">&#10094;</li>
                    <li class="next" @onclick="ShowNextMonth">&#10095;</li>
                    <li>@MonthName <br><span style="font-size:18px">@CurrentYear</span></li>
                </ul>
            </div>
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Pon</th>
                        <th>Wt</th>
                        <th>Śr</th>
                        <th>Cz</th>
                        <th>Pt</th>
                        <th>Sob</th>
                        <th>Nd</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in CalendarRows)
                    {
                        <tr>
                            @foreach (var day in row)
                            {
                                @if (day == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td @onclick="() => SelectDay(day)"
                                    class="@miesiac.getDzien(day.GetValueOrDefault()).getRodzaje()">
                                        @day
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Dostep do tej strony maja jedynie zalogowani uzytkownicy</p>
    }
</div>

<Dialog Title="Plan na dzień" Opened="dialogShown" CloseButtonClicked="@(() => dialogShown = false)">
    <BodyContent>
        <div>
            @{
                Dzien dzien = miesiac.getDzien(SelectedDay);
                //bool wolne = false;
                <h3><i class="bi bi-calendar-event"></i> Zmiany dnia @SelectedDay/@CurrentMonth/@CurrentYear</h3>
                <br />
            }

            @if (ZmianyWyswietlane != null && ZmianyWyswietlane.Any()) 
            {                
                foreach (var zmiana in ZmianyWyswietlane)
                {
                    <div class="body-div work-shift-day">
                        <p>Godzina Rozpoczęcia: @zmiana.GodzRozp</p>
                        <p>Godzina Zakończenia: @zmiana.GodzZakon</p>
                        <p><b>Czas trwania:</b> @ObliczGodziny(@zmiana.GodzRozp.GetValueOrDefault(), @zmiana.GodzZakon.GetValueOrDefault())h</p>
                        <p>Pracownik zmiany: @zmiana.IdPracownikaNavigation?.Imie @zmiana.IdPracownikaNavigation?.Nazwisko</p>

                        <button class="btn btn-sm btn-primary" @onclick="@(() => EdytujZmiane(zmiana))">Edytuj</button>
                        <button class="btn btn-sm btn-danger" @onclick="@(() => UsunZmiane(zmiana.IdZmiany))">Usuń</button>
                    </div>
                }
            }
            else
            {
                <p>Brak zmian dla tego dnia.</p>
            }

            <hr />

            @if (isSaveMode)
            {
                <h4>@(isEditMode ? "Edytuj zmianę" : "Dodaj nową zmianę")</h4>

                <EditForm Model="@nowaZmiana" OnValidSubmit="ZapiszZmiane">
                    <div>
                        <label>Pracownik</label>
                        <select @bind="SelectedEmployeeId">
                            @foreach (var pracownik in pracownicy)
                            {
                                if (pracownik.IdRoli == 1 || pracownik.IdRoli == 2)
                                {
                                    <option value="@pracownik.IdPracownika">@pracownik.Imie @pracownik.Nazwisko</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>Godzina rozpoczęcia:</label>
                        <InputDate Type="InputDateType.Time" @bind-Value="@nowaZmiana.GodzRozp" class="form-control" />
                    </div>

                    <div>
                        <label>Godzina zakończenia:</label>
                        <InputDate Type="InputDateType.Time" @bind-Value="@nowaZmiana.GodzZakon" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success mt-2">@((isEditMode ? "Zapisz zmiany" : "Dodaj"))</button>

                    @if (isEditMode)
                    {
                        <button type="button" class="btn btn-secondary mt-2" @onclick="AnulujEdycje">Anuluj</button>
                    }
                </EditForm>
            }

            <br />

            @if (!string.IsNullOrWhiteSpace(alertMessage))
            {
                <div class="alert @alertCss">
                    @alertMessage
                </div>
            }
        </div>
    </BodyContent>
    <FooterContent>
        <div class="footer-container">
            <div class="footer-icons">
                <div class="footer-icon">
                    <i class="bi bi-calendar"></i>
                    <span>Planowanie</span>
                </div>
                <div class="footer-icon">
                    <i class="bi bi-info-circle"></i>
                    <span>Informacje</span>
                </div>
              
            </div>
        </div>
    </FooterContent>
</Dialog>

@code {

    [BindProperty] public int SelectedEmployeeId { get; set; }

    public List<Zmiany> ZmianyWyswietlane = new();
    private List<Pracownicy> pracownicy = new();
    Zmiany nowaZmiana = new();
    DniRobocze selectedDzienRoboczy = new();
    List<DniRobocze> dniRoboczeList = new();
    private List<List<int?>> CalendarRows = new();
    private ClaimsPrincipal user = new();

    private string alertMessage = "";
    private string alertCss = "";

    private bool dialogShown = false;
    private bool isEditMode = false;
    private bool isSaveMode = false;

    private int CurrentMonth = DateTime.Now.Month;
    private int CurrentYear = DateTime.Now.Year;
    private int SelectedDay;
    private string MonthName => new DateTime(CurrentYear, CurrentMonth, 1).ToString("MMMM", System.Globalization.CultureInfo.GetCultureInfo("pl-PL"));
    private Miesiac? miesiac;


    protected override async Task OnInitializedAsync()
    {
        CalendarRows = new List<List<int?>>();
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity.IsAuthenticated == false)
            return;

        pracownicy = await ZmianyService.GetAllPracownicyAsync();
        dniRoboczeList = await ZmianyService.GetDniRoboczeAsync(CurrentYear, CurrentMonth);

        miesiac = new Miesiac(ServiceProvider, user.Identity.Name, CurrentMonth, CurrentYear);

        await miesiac.generujMiesiac();

        CalendarRows = new List<List<int?>>();
        GenerateCalendar();
    }

    private async Task ZapiszZmiane()
    {
        alertMessage = "";
        try
        {
            if (selectedDzienRoboczy == null || selectedDzienRoboczy.DataDnia == null)
            {
                alertMessage = "Brak daty dla wybranego dnia roboczego!";
                isEditMode = false;
                return;
            }

            if (nowaZmiana.GodzRozp >= nowaZmiana.GodzZakon)
            {
                alertMessage = "Godzina zakończenia musi być późniejsza niż rozpoczęcia!";
                return;
            }

            nowaZmiana.IdDnia = selectedDzienRoboczy.IdDnia;
            nowaZmiana.IdPracownika = SelectedEmployeeId;

            if (nowaZmiana.IdPracownika <= 0 ||
                nowaZmiana.GodzRozp == null ||
                nowaZmiana.GodzZakon == null)
            {
                alertMessage = "Uzupełnij wszystkie wymagane pola!";
                return;
            }

            // Edycja vs dodanie nowej zmiany
            if (isEditMode)
            {
                await ZmianyService.EdytujZmianeAsync(nowaZmiana);
                alertMessage = "Zmiana została zaktualizowana.";
            }
            else
            {
                await ZmianyService.DodajZmianeAsync(nowaZmiana);
                alertMessage = "Zmiana została dodana.";
            }

            await OdswiezDzien(selectedDzienRoboczy.DataDnia.Value);
            AnulujEdycje(); // Reset formularza
        }
        catch (Exception ex)
        {
            alertMessage = $"Wystąpił błąd: {ex.Message}";
        }
    }



    private void EdytujZmiane(Zmiany zmiana)
    {
        isEditMode = true;
        nowaZmiana = zmiana; // używamy bezpośrednio edytowanej zmiany
        SelectedEmployeeId = zmiana.IdPracownika;
    }


    private async Task UsunZmiane(int idZmiany)
    {
        alertMessage = "Zmiana została usunięta";
        await ZmianyService.UsunZmianeAsync(idZmiany);
        await OdswiezDzien(new DateOnly(CurrentYear, CurrentMonth, SelectedDay));
    }

    private async Task OdswiezDzien(DateOnly date)
    {
        dniRoboczeList = await ZmianyService.GetDniRoboczeAsync(CurrentYear, CurrentMonth);
        selectedDzienRoboczy = dniRoboczeList.FirstOrDefault(d => d.DataDnia == date);
        ZmianyWyswietlane = await ZmianyService.GetZmianyDlaDniaAsync(selectedDzienRoboczy.DataDnia.Value);
    }

    private void AnulujEdycje()
    {
        isEditMode = false;
        nowaZmiana = new Zmiany();
    }

    private void ShowDialog()
    {
        dialogShown = true;
    }

    private void CloseDialog()
    {
        dialogShown = false;
    }

    public static double ObliczGodziny(TimeOnly czasPoczatkowy, TimeOnly czasKoncowy)
    {
        if (czasKoncowy < czasPoczatkowy)
        {
            czasKoncowy = czasKoncowy.AddHours(24);
        }

        TimeSpan roznica = czasKoncowy.ToTimeSpan() - czasPoczatkowy.ToTimeSpan();

        return roznica.TotalHours;
    }


    private void GenerateCalendar()
    {
        CalendarRows.Clear();

        int daysInMonth = DateTime.DaysInMonth(CurrentYear, CurrentMonth);
        int firstDayOfMonth = (int)new DateTime(CurrentYear, CurrentMonth, 1).DayOfWeek - 1;

        if (firstDayOfMonth == -1)
            firstDayOfMonth = 6;

        List<int?> currentRow = new List<int?>();
        for (int i = 0; i < firstDayOfMonth; i++)
        {
            currentRow.Add(null);
        }

        for (int day = 1; day <= daysInMonth; day++)
        {
            currentRow.Add(day);

            if (currentRow.Count == 7)
            {
                CalendarRows.Add(new List<int?>(currentRow));
                currentRow.Clear();
            }
        }
        if (currentRow.Count > 0)
        {
            CalendarRows.Add(currentRow);
        }
    }


    private async Task ShowPreviousMonth()
    {
        CurrentMonth--;
        if (CurrentMonth < 1)
        {
            CurrentMonth = 12;
            CurrentYear--;
        }

        GenerateCalendar();

        miesiac.poprzedniMiesiac();

        await miesiac.generujMiesiac();

    }


    private async Task ShowNextMonth()
    {

        CurrentMonth++;
        if (CurrentMonth > 12)
        {
            CurrentMonth = 1;
            CurrentYear++;
        }

        GenerateCalendar();
        miesiac.nastepnyMiesiac();

        await miesiac.generujMiesiac();
    }


    private async Task SelectDay(int? day)
    {
        alertMessage = "";
        ZmianyWyswietlane.Clear();
        if (day is null)
            return;

        SelectedDay = day.GetValueOrDefault();

        selectedDzienRoboczy = dniRoboczeList.FirstOrDefault(d =>
            d.DataDnia == new DateOnly(CurrentYear, CurrentMonth, SelectedDay));

        if (selectedDzienRoboczy == null)
        {
            alertMessage = "To nie jest dzień roboczy!";
            isSaveMode = false;
        }
        else
        {
            isSaveMode = true;
            ZmianyWyswietlane = await ZmianyService.GetZmianyDlaDniaAsync(selectedDzienRoboczy.DataDnia.Value);
        }

        dialogShown = true;
    }


}